{% extends 'parts/layout.twig' %}

{% block title %}
	<title>New Site Title</title>
{% endblock %}


{% block content %}

	 <div class="main">
		 <div class="main__container">

			 {#LEFT MENU#}
			<div class="main__left-menu">
				<div class="menu">

					{#TOP#}
					<div class="menu__top-block">
						<div class="menu__logo-wrap">
							<div class="menu__logo"></div>
						</div>
						<div class="menu__list">
							<div class="menu__list-item-wrap">
								<a href="#about" class="menu__list-item menu__list-item_active">About</a>
							</div>
							<div class="menu__list-item-wrap">
								<a href="#menu" class="menu__list-item ">Menu</a>
							</div>
							<div class="menu__list-item-wrap">
								<a href="#reservations" class="menu__list-item ">Reservations</a>
							</div>
							<div class="menu__list-item-wrap">
								<a href="#join" class="menu__list-item ">Join our team</a>
							</div>
							<div class="menu__list-item-wrap">
								<a href="#location" class="menu__list-item ">Location</a>
							</div>
							<div class="menu__list-item-wrap">
								<a href="#press" class="menu__list-item ">Press</a>
							</div>
							<div class="menu__list-item-wrap">
								<a href="#news" class="menu__list-item ">News</a>
							</div>
						</div>
						<div class="menu__address">
							<div class="menu__text">5 Bryant Park,</div>
							<div class="menu__text">1065 Ave of the Americas,</div>
							<div class="menu__text">New York, NY 10018</div>
						</div>
						<div class="menu__made-by">
							<div class="menu__text">Made by neq4</div>
						</div>
						<div class="menu__social-list">
							<div class="menu__social-item menu__social-item_inst"></div>
							<div class="menu__social-item menu__social-item_fb"></div>
							<div class="menu__social-item menu__social-item_twit"></div>
						</div>
					</div>
					{#/TOP#}

					{#MOBILE#}
					<div class="mobile-menu">
						<div class="mobile-menu__title"></div>
						<div class="mobile-menu__burger mobile-menu__burger_active  js-burger ">
							<div class="mobile-menu__burger-line"></div>
							<div class="mobile-menu__burger-line"></div>
							<div class="mobile-menu__burger-line"></div>
						</div>
						<div class="mobile-menu__name"></div>
						<div class="mobile-menu__social">
							<a href="#" target=”_blank” class="mobile-menu__social-item">
								<div class="mobile-menu__inst"></div>
							</a>
							<a href="#" target=”_blank” class="mobile-menu__social-item">
								<div class="mobile-menu__fb"></div>
							</a>
						</div>
					</div>
					{#/MOBILE#}

				</div>
			</div>
			 {#/LEFT MENU#}

			 {#RIGHT MENU#}
			<div class="main__right-part">

				{#TITLE#}
				<div class="title">
					<div class="title__container container">
						<p class="title__date">
							<span class="title__date title__date_day"> JULY 20,</span>
							2016
						</p>
						<div class="title__header">
							<p class="title__header-text">cofeemania</p>
							<p class="title__header-text">& the big city</p>
						</div>
						<div class="title__main-text-block">
							<p class="title__main-text">
								Coffeemania NYC is the first overseas outpost
								of the famous restaurant chain in Moscow founded
								over 15 years ago.
							</p>
						</div>
						<div class="title__news-list">
							<div class="title__news-item">
								<div class="title__news-date">
									<span class="title__news-text title__news-text_day"> JULY 20,</span>
									2016
								</div>
								<div class="title__news-title">
									NEW FRESH &
									TASTY DESSERTS
								</div>
								<div class="title__news-text-block">
									Our chef has been busy lately preparing
									some new delicious deserts recepies.
								</div>
							</div>
							<div class="title__news-item">
								<div class="title__news-date">
									<span class="title__news-text title__news-text_day"> JULY 20,</span>
									2016
								</div>
								<div class="title__news-title">
									ROYAL INTERIORS —
									NEW LOCATION
								</div>
								<div class="title__news-text-block">
									Our chef has been busy lately preparing
									some new delicious deserts recepies.
								</div>
							</div>
						</div>

					</div>
				</div>
				{#/TITLE#}

				{#ABOUT#}
				<div class="paper main__about" id="about">
					<div class="paper__container container">
						<div class="paper__block-wrap">
							<div class="paper__block">
								<div class="paper__title">
									<div class="paper__title-text">about</div>
									<div class="paper__title-line"></div>
								</div>
								<div class="paper__text-block">
									<p class="paper__text-item">
										Coffeemania NYC is the first overseas
										outpost of the famous restaurant chain
										in Moscow founded over 15 years ago.
									</p>
									<p class="paper__text-item">
										a restaurant and has kept the vibe of
										a friendly, informal place to mingle
										and enjoy life. It embraces all international
										favorites on its breakfast, lunch and dinner
										menu with a twist on quality and instant service.
									</p>
								</div>
								<div class="paper__bottom-block">
									<div class="paper__bottom-awards">
										<div class="paper__bottom-awards-img"></div>
										<div class="paper__bottom-awards-text">
											Over 40 national and international
											awards for coffee excellence
										</div>
									</div>
									<div class="paper__bottom-text-block">
										<p class="paper__bottom-text">
											Being the home for modern city
											dwellers every new Coffeemania
											restaurant is conceived as an
											individual project, unlike any
											other that has come before. Our
											American flagship in New York
											reflects the latest trends in
											restaurant design. It is completely
											individual and sympathetic to its
											location. It will be a warm environment,
											where guests can feel equally welcome
											whether they have come to enjoy a single
											cup of espresso or a full fine dining
											experience.
										</p>
										<p class="paper__bottom-text">
											Our barista team is passionately in love
											with coffee and artistically manage a
											large variety of coffee beverages,
											espresso based and prepared with alternative
											brewing methods. They have won over 40
											national and international awards for
											coffee excellence. Along with coffees
											Coffeemania’s bar is famous for delightful
											signature fruit and herb non-alcoholic
											beverages and lemonades.
										</p>
										<p class="paper__bottom-text">
											As an all-day destination Coffeemania
											offer extends from breakfast to
											dinner and beyond. Our food and
											drink is handcrafted — we bake
											our own bread, make our own pasta,
											and roast our own coffee. All
											Coffeemania French-style patisserie
											is are created with input from
											top French pastry chefs and are
											made on site.
										</p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				{#/ABOUT#}

				{#SLIDER#}
				<div class="slider" id="menu">
					<div class="slider__container">

						<!-- Slider main container -->
						<div class="swiper-container slider" id="slider-one">
							<!-- Additional required wrapper -->
							<div class="swiper-wrapper">

								<!-- Slides -->
								<div class="swiper-slide">
									<div class="slider__item">
										<div class="slider__item-inner" style="background-image: url(img/cat-1.jpg)"></div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="slider__item">
										<div class="slider__item-inner" style="background-image: url(img/cat-2.jpg)"></div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="slider__item">
										<div class="slider__item-inner" style="background-image: url(img/cat-3.jpg)"></div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="slider__item">
										<div class="slider__item-inner" style="background-image: url(img/cat-4.jpg)"></div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="slider__item">
										<div class="slider__item-inner" style="background-image: url(img/cat-5.jpg)"></div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="slider__item">
										<div class="slider__item-inner" style="background-image: url(img/cat-2.jpg)"></div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="slider__item">
										<div class="slider__item-inner" style="background-image: url(img/cat-4.jpg)"></div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="slider__item">
										<div class="slider__item-inner" style="background-image: url(img/cat-3.jpg)"></div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="slider__item">
										<div class="slider__item-inner" style="background-image: url(img/cat-5.jpg)"></div>
									</div>
								</div>

							</div>
							<!-- If we need pagination -->
							<div class="slider__pagination-wrap">
								<div class="slider__pagination"></div>
							</div>
							<!-- If we need navigation buttons -->
							<div class="slider__button-prev"></div>
							<div class="slider__button-next"></div>

						</div>
					</div>
				</div>
				{#/SLIDER#}

				{#CHEF#}
				<div class="chef">
					<div class="chef__bg container">
						<div class="chef__title">
							<div class="chef__title-text">about</div>
							<div class="chef__title-line"></div>
						</div>
						<div class="chef__name-block">
							<div class="chef__name-title">TITUS WANG </div>
							<div class="chef__name-place">Coffeemania NYC Chef</div>
						</div>
						<div class="chef__bottom">
								<div class="chef__bottom-left">
									<p class="chef__bottom-left-text">
										Born in Taiwan, Titus Wang moved
										to the United States with his family
										and settled in NJ when he turned thirteen.
										He always liked to be around the kitchen
										where his mom cooked and they had fun
										preparing family meals together.
									</p>
								</div>
								<div class="chef__bottom-right">
									<p class="chef__bottom-right-text">
										Being trained in French classic culinary
										style, Titus has proceeded learning and
										experimenting with different ingredients
										side by side with her teacher and chef
										Anita Lo at Annisa restaurant for eight
										years. He continued his culinary route
										at Delicatessen as Executive Sous Chef
										and later at Morimoto NYC.
									</p>
									<p class="chef__bottom-right-text">
										Titus Wang was named among “Eater
										Young Guns Final 50” in 2011 and
										put on Zagat’s chefs’ list “30
										under 30” in 2014.
									</p>
									<p class="chef__bottom-right-text">
										Last year Titus joined Coffeemania
										team in NY and now heads our kitchen
										bringing in his experience in doing
										international comfortable food and
										amazing creative approach to combine
										ingredients and flavors from different
										parts of the world.
									</p>

								</div>
							</div>
					</div>
				</div>
				{#/CHEF#}

				{#RESERVATIONS#}
				<div class="reservations" id="reservations">
					<div class="paper">
						<div class="paper__container container">
							<div class="paper__block-wrap">
								<div class="paper__block paper__block_reserv">
									<div class="paper__title">
										<div class="paper__title-text">reservations</div>
										<div class="paper__title-line"></div>
									</div>

									{#FORM RESERVATIONS#}
									<div class="reserv">
										<form>
											<div class="reserv__form form">

												<div class="reserv__form-block-top">

													<div class="reserv__form-block-left">
														<div class="reserv__form-block-left-one">
															<div class="form__input-holder form__input-holder_date">
																<input type="text" class="form__input" id="datetimepicker1" />
															</div>

															<div class="form__input-holder form__input-holder_time">
															<input type="text" class="form__input form__input_time" id="datetimepicker2">
														</div>
														</div>

														<div class="reserv__form-block-left-two">
															<div class="form__input-holder">
																<input type="text" class="form__input" placeholder="Name">
															</div>

															<div class="form__input-holder form__input-holder_alert-phone" data-text="Complete this field">
													<input type="tel" class="form__input"  placeholder="Phone number" pattern="[0-9]{10}">
												</div>
														</div>
													</div>

													<div class="reserv__form-block-rigth">
														<div class="form__input-holder form__input-holder_phone " >
															<div class="reserv__select-wrap">
																<select class="reserv__select" >
																	<option>1</option>
																	<option>2</option>
																	<option>3</option>
																	<option>4</option>
																	<option>5</option>
																	<option>6</option>
																	<option>7</option>
																	<option>8</option>
																	<option>9</option>
																	<option>10</option>
																</select>
															</div>
														</div>
													</div>
												</div>

												<div class="reserv__form-block-bottom">
													<div class="form__input-holder">
													<input type="submit" class="form__submit"  value="BOOK NOW">
												</div>
												</div>

											</div>
										</form>
									</div>
									{#FORM RESERVATIONS#}

									<p class="paper__book">
										Also you can book by phone: 646-312-1000
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{#/RESERVATIONS#}

				{#PRESS#}
				<div class="paper" id="press">
					<div class="paper__container paper__container_press container">
						<div class="paper__block-wrap">
							<div class="paper__block">
								<div class="paper__title">
									<div class="paper__title-text">press</div>
									<div class="paper__title-line"></div>
								</div>
								<div class="paper__press-list">

									<div class="paper__press-block">
										<a href="#" class="paper__press-item">
											<div class="paper__press-img paper__press-img_big" style="background-image: url(img/press_b.png)"></div>
											<div class="paper__press-title">TIME OUT</div>
											<div class="paper__press-date">September 27, 2016</div>
										</a>
									</div>

									<div class="paper__press-block">
										<a href="#" class="paper__press-item">
											<div class="paper__press-img paper__press-img_small" style="background-image: url(img/press_s.png)"></div>
											<div class="paper__press-title">THE NYT</div>
											<div class="paper__press-date">September 27, 2016</div>
										</a>
										<a href="#" class="paper__press-item">
											<div class="paper__press-img paper__press-img_medium" style="background-image: url(img/press_m.png)"></div>
											<div class="paper__press-title">QO MAGAZINE</div>
											<div class="paper__press-date">September 27, 2016</div>
										</a>
									</div>

								</div>

								</div>


							</div>
						</div>
					</div>
				{#/PRESS#}

				{#JOIN#}
				<div class="paper" id="join">
					<div class="paper__container paper__container_join container">
						<div class="paper__block-wrap">
							<div class="paper__block">
								<div class="paper__title">
									<div class="paper__title-text">JOIN OUR TEAM</div>
									<div class="paper__title-line"></div>
								</div>
								<div class="paper__text-block">
									<p class="paper__text-item">
										We are always looking for new
										talents who want to share our
										passion for creating amazing
										dining and leisure experience
										for our guests. We believe that
										our success is based on people
										and professional teamwork. We
										provide a strong educational
										background putting a lot of effort
										and time in developing talents
										and professional competence of our team.
									</p>
									<p class="paper__text-item">
										Now we offer new carrier
										opportunities to kitchen
										chefs, baristas, servers,
										runners and hostesses.
									</p>
								</div>
								<div class="paper__bottom-block">
									<div class="paper__bottom-left">
										<div class="paper__barista-title">BARISTA TEAM</div>
										<div class="paper__barista-block">
											<div class="paper__barista-text">
												Lead barista, barista,
												Beverage & tea-infusion
												specialist

											</div>
											<div class="paper__line"></div>
											<div class="paper__barista-text">
												We are looking for experienced
												specialists to join our team.
											</div>
											<div class="paper__line"></div>
											<div class="paper__barista-text">
												Call us now: 646-312-1000

											</div>
										</div>
									</div>
									<div class="paper__bottom-right">
										<p class="paper__bottom-text">
											<span class="paper__bottom-text-item">— Permanent full time position</span>
											<span class="paper__bottom-text-item">— 40 hours per week</span>
											<span class="paper__bottom-text-item">— City location, close to public transport</span>
											<span class="paper__bottom-text-item">— 8 hour shifts</span>
											<span class="paper__bottom-text-item">— Lead Barista $17</span>
											<span class="paper__bottom-text-item">— Barista $13-16</span>
											<span class="paper__bottom-text-item">— Beverage Specialist $10-13</span>
											<span class="paper__bottom-text-item">— Benefits: free meals</span>
											<span class="paper__bottom-text-item">— Benefits for tenured staff: Paid holidays,</span>
											<span class="paper__bottom-text-item">— Paid healthcare</p></span>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				{#/JOIN#}

				{#MAP#}
				<div class="map" id="location">
					<div class="map__inner" id="map"></div>
					<div class="map__title">
						<div class="map__title-text">LOCATION</div>
						<div class="map__title-line"></div>
					</div>
					<div class="map__bottom">
						<div class="map__block">
							<div class="map__block-title">ADDRESS</div>
							<div class="map__block-list">
								<div class="map__block-item">5 Bryant Park, 1065 Ave of the</div>
								<div class="map__block-item">Americas, New York, NY 10018.</div>
								<div class="map__block-item">Tel. 646-312-1000 </div>
							</div>
						</div>
						<div class="map__block">
							<div class="map__block-title">OPEN HOURS</div>
							<div class="map__block-list">
								<div class="map__block-item">Mon - Fri: 8:00 am - 10:00 pm</div>
								<div class="map__block-item">Sat - Sun: 10:00 am - 11:00 pm</div>
							</div>
						</div>
					</div>
				</div>
				{#/MAP#}

			</div>
			 {#/RIGHT MENU#}

		 </div>
	 </div>

{% endblock %}

{% block userscripts %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdtdg7hD0Ho1dHQIO_0JhRagZlGv8Sh4M&callback=initMap"
	        async defer></script>

	<script>

		function initMap() {
			var centerLatLng = new google.maps.LatLng(40.755561, -73.993290);
			var mapOptions = {
				center: centerLatLng,
				zoom: 12
			};
			var map = new google.maps.Map(document.getElementById("map"), mapOptions);
			// Добавляем маркер
			var marker = new google.maps.Marker({
				position: centerLatLng,              // Координаты расположения маркера. В данном случае координаты нашего маркера совпадают с центром карты, но разумеется нам никто не мешает создать отдельную переменную и туда поместить другие координаты.
				map: map,                            // Карта на которую нужно добавить маркер
				icon: "img/icon-point.svg"  // (Необязательно) Текст выводимый в момент наведения на маркер
			});
		}

		// google.maps.event.addDomListener(window, "load", initMap);


	</script>




{% endblock %}
