.form {
	&__input-holder {
		margin-bottom: 36px;
		margin-right: 40px;
		width: 200px;
		&_date {
			position: relative;
			&:before {
				position: absolute;
				content: 'Date';
				color: #999999;
				font-size: @11;
				.regular();
				line-height: 2.18;
				top: 0;
				left: 10px;
			}
			&:after {
				position: absolute;
				content: '';
				.svg-icon(icon-date, 11px, 8px);
				right: 14px;
				bottom: 14px;
				pointer-events: none;
			}
		}
		&_time {
			position: relative;
			&:before {
				position: absolute;
				content: 'Time';
				color: #999999;
				font-size: @11;
				.regular();
				line-height: 2.18;
				top: 0;
				left: 10px;
			}
			&:after {
				position: absolute;
				content: '';
				.svg-icon(icon-people, 8px, 8px);
				right: 13px;
				bottom: 14px;
				pointer-events: none;
			}
		}
		&_alert-phone {
			position: relative;
			&:before {
				position: absolute;
				content: attr(data-text);
				color: #980933;
				font-size: @11;
				.regular();
				line-height: 2.18;
				bottom: -20px;
				left: 10px;
				z-index: 20;
			}
			&:after {
				position: absolute;
				content: '';
				background-color: #980933;
				top: 0;
				bottom: 0;
				right: 0;
				.svg-icon(icon-alert, 12px, 48px);
			}
		}
		&_phone {
			width: 120px;
		}
	}
	&__input {
		display: block;
		width: 100%;
		height: 48px;
		background-color: #f1f1f1;
		//border-radius: 3px;
		border: 1px solid transparent;
		padding: 18px 0 6px 10px;

		color: #222222;
		.regular();
		font-size: @16;
		-webkit-appearance: none;

		&::-webkit-input-placeholder {
			color: #222222;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #222222;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #222222;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #222222;
			opacity: 1;
		}
		&:focus {
			//border-color: black;
			color: #222222;

		}
		&_error {
			border-color: #ff0000;
		}
	}
	&__textarea {
		display: block;
		width: 100%;
		height: 225px;
		background: #383542;
		border-radius: 3px;
		border: 1px solid transparent;
		padding: 10px 20px;

		color: white;
		.regular();
		font-size: @14;
		-webkit-appearance: none;

		&::-webkit-input-placeholder {
			color: white;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: white;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: white;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: white;
			opacity: 1;
		}
		&:focus {
			border-color: black;
			color: white;
		}
		&_error {
			border-color: #ff0000;
		}
	}

	&__captcha {
		margin: 10px 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		max-width: 100%;
	}
	&__submit {
		text-align: right;
		/* Style for "Rectangle" */
		width: 200px;
		height: 60px;
		background-color: #980933;
		border: none;


		color: #ffffff;
		font-size: @16;
		.bold();
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
	}
}

@media screen and (max-width: 1300px) {
	.form {
		&__input-holder {
			width: 190px;
		}
	}
}

@media screen and (max-width: 750px) {
	.form {
		&__input-holder {
			width: 280px;
		}
	}
}