.chef {

	&__bg {
		width: 100%;
		background: url(../img/chef.jpg) no-repeat center center;
		background-size: cover;
		padding-top: 81px;
		padding-bottom: 78px;
	}
	&__container {

		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		overflow: hidden;


	}
	&__title {
		display: flex;
		width: 100%;
		align-items: center;
		margin-bottom: 157px;
	}
	&__title-text {
		.light();
		color: white;
		font-size: 68px;
		line-height: 1.24;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-right: 36px;
	}
	&__title-line {
		border: 1px solid white;
		height: 2px;
		width: 100%;
	}
	&__name-block {
		margin-left: 70%;
		margin-bottom: 162px;
		//margin-bottom: 82px;
	}
	&__name-title {
		color: #ffffff;
		font-size: @16;
		.regular();
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	&__name-place {
		color: #ffffff;
		font-size: @16;
		line-height: 1.5;
		.regular();
	}
	&__bottom {
		display: flex;
		overflow: hidden;
	}
	&__bottom-left {
		margin-right: 35px;
		overflow: hidden;
	}
	&__bottom-left-text {
		color: #ffffff;
		font-size: @21;
		line-height: 1.71;
		.regular();

	}
	&__bottom-right {

	}
	&__bottom-right-text {
		color: #ffffff;
		font-size: @16;
		line-height: 1.5;
		.regular();
		margin-bottom: 20px;

	}
}

@media screen and (max-width: 1200px) {
	.chef {
		&__bottom {
			display: block;
		}
		&__bottom-left {
			margin-right: 0;
			margin-bottom: 43px;
		}
		&__name-block {
			margin-left: 0;
			margin-bottom: 40px;
		}
	}
}

@media screen and (max-width: 700px) {
	.chef {

		&__bottom {
			padding-right: 20px;
			padding-left: 20px;
		}
		&__name-block {
			padding-right: 20px;
			padding-left: 20px;
		}
		&__title {
			padding-right: 20px;
			padding-left: 20px;
		}
		&__bg {
			padding-top: 30px;
			padding-bottom: 40px;
		}
	}
}

@media screen and (max-width: 600px) {
	.chef {
		&__title-text {
			font-size: 24px;
		}
		&__title-line {
			display: none;
		}
		&__title {
			margin-bottom: 34px;
		}
		&__bottom-left-text {
			font-size: @16;

		}
	}
}