.main {
	&__container {
	}
	&__left-menu {
		width: 360px;
		position: fixed;
	}
	&__right-part {
		width: calc(~'100% - 360px');
		margin-left: 360px;
		overflow: hidden;
	}

}

@media screen and (max-width: 1100px) {
	.main {
		&__left-menu {
			width: 64px;
		}
		&__right-part {
			width: calc(~'100% - 64px');
			margin-left: 64px;
			overflow: hidden;
		}
	}

}

@media screen and (max-width: 600px) {
	.main {
		&__left-menu {
			width: 100%;
			position: relative;
		}
		&__right-part {
			width: 100%;
			margin-left: 0;
		}
	}

}
