.map {
	height: 722px;
	position: relative;

	&__inner {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
	&__title {
		position: absolute;
		z-index: 30;
		top: 69px;
		left: 120px;
		right: 120px;

		display: flex;
		align-items: center;
		pointer-events: none;
	}
	&__title-text {
		.light();
		color: #000000;
		font-size: 68px;
		line-height: 1.24;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-right: 29px;
		white-space: nowrap;
	}
	&__title-line {
		border: 1px solid #222222;
		height: 2px;
		width: 100%;
	}
	&__bottom {
		position: absolute;
		left: 120px;
		bottom: 81px;
		z-index: 30;
		display: flex;
	}
	&__block {
		height: 90px;
		&:first-child {
			margin-right: 146px;
		}
	}
	&__block-item {
		color: #000000;
		font-size: @16;
		line-height: 1.5;
		.regular();
	}
}

@media screen and (max-width: 700px) {
	.map {
		height: 600px;

		&__title {
			position: absolute;
			z-index: 30;
			top: 40px;
			left: 40px;
			right: 40px;
		}
		&__bottom {
			position: absolute;
			left: 40px;
			bottom: 80px;
			z-index: 30;
			display: flex;
		}
		&__title-text {
			font-size: 46px;
			letter-spacing: 1px;
		}
		&__block {
			&:first-child {
				margin-right: 60px;
			}
		}
	}
}