.menu {
	width: 100%;

	&__top-block {
		padding: 86px 56px 96px;
		width: 100%;
	}
	&__logo-wrap {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 23.8%;
		margin-bottom: 36px;
	}
	&__logo {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: url(../img/logo.svg) no-repeat center center;
		background-size: contain;
	}
	&__list {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
	}
	&__list-item-wrap {
		text-align: center;
	}
	&__list-item {
		text-align: center;
		color: #111111;
		font-size: @18;
		line-height: 2;
		text-decoration: none;
		position: relative;
		cursor: pointer;
		&:active {
			color: #980933;
			&:before {
				position: absolute;
				content: '';
				.svg-icon(arrow-right, 8px, 16px);
				top: 4px;
				left: -18px;
			}
			&:after {
				position: absolute;
				content: '';
				.svg-icon(arrow-right, 8px, 16px);
				top: 4px;
				right: -18px;
				transform: rotate(180deg);
			}
		}
		&_active {
			color: #980933;
			&:before {
				position: absolute;
				content: '';
				.svg-icon(arrow-right, 8px, 16px);
				top: 4px;
				left: -18px;
			}
			&:after {
				position: absolute;
				content: '';
				.svg-icon(arrow-right, 8px, 16px);
				top: 4px;
				right: -18px;
				transform: rotate(180deg);
			}
		}
		&:hover {
			color: #980933;
			&:before {
				position: absolute;
				content: '';
				.svg-icon(arrow-right, 8px, 16px);
				top: 4px;
				left: -18px;
			}
			&:after {
				position: absolute;
				content: '';
				.svg-icon(arrow-right, 8px, 16px);
				top: 4px;
				right: -18px;
				transform: rotate(180deg);
			}
		}
	}
	&__address{
		text-align: center;
		margin-bottom: 12px;
	}
	&__text {
		color: #111111;
		font-size: @16;
		line-height: 1.5;
	}
	&__made-by {
		text-align: center;
		margin-bottom: 18px;
	}
	&__social-list {
		display: flex;
		justify-content: center;
	}
	&__social-item {
		height: 36px;
		width: 36px;
		border: 1px solid #111111;
		border-radius: 50%;
		margin-right: 14px;
		&:last-child {
			margin-right: 0;
		}
		&_inst {
			background: url(../img/icon-instagram.svg) no-repeat center center;
			background-size: auto;
		}
		&_fb {
			background: url(../img/icon-fb.svg) no-repeat center center;
			background-size: auto;
		}
		&_twit {
			background: url(../img/icon-twit.svg) no-repeat center center;
			background-size: auto;
		}
	}
}

@media screen and (max-width: 1100px) {
	.menu {
		&__top-block {
			display: none;
		}
	}
}

@media screen and (max-width: 600px) {
	.menu {
		&__top-block {
			display: none;
		}
	}
}