.mobile-menu {
	display: none;

	&__title {
		display: none;
		.svg-icon(icon-mobile-title, 135px,32px);
		margin: 20px 0;
		margin-right: auto;
		margin-left: auto;
	}
	&__burger {
		padding: 19px 16px;
		cursor: pointer;
		margin-bottom: /*1*/59px;
		&:hover {
			background-color: #f1f1f1;
	}
	&__burger-line {
		width: 32px;
		height: 1px;
		border: 1px solid #980933;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		//.mobile-menu__burger_active & {
		//	&:nth-child(2n) {
		//		display: none;
		//	}
		//	&:first-child {
		//		transform: rotate(45deg);
		//	}
		//}
	}
	}
	&__name {
		width: 20px;
		height: 216px;
		background: url(../img/icon-logotip1.png) no-repeat center center;
		background-size: contain;
		margin-left: 22px;
		margin-bottom: /*1*/48px;
	}
	&__social {
		margin-left: 14px;
	}
	&__social-item {
		position: relative;
		width: 36px;
		height: 36px;
		border: 1px solid #222222;
		border-radius: 50%;
		margin-bottom: 12px;
		text-decoration: none;
		display: block;
	}
	&__inst {
		position: absolute;
		left: 8px;
		top: 8px;
		.svg-icon(icon-instagram, 18px, 18px);

	}
	&__fb {
		position: absolute;
		left: 8px;
		top: 8px;
		.svg-icon(icon-fb, 18px, 18px)
	}
}

@media screen and (max-width: 1100px) {
	.mobile-menu {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.mobile-menu {
		position: relative;
		&__burger {
			position: absolute;
			padding: 2px 20px;
			cursor: pointer;
			margin-bottom: 0;
			&:hover {
				background-color: #f1f1f1;
			}
			top: 0;
			right: 0;
		}
		&__name {
			display: none;
		}
		&__social {
			display: none;
		}
		&__title {
			display: block;
		}
		&__burger-line {
			width: 24px;
			height: 1px;
			border: 1px solid #980933;
			margin-bottom: 7px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}