.paper {
	background-color: #f1f1f1;
	.main__map & {
		z-index: 30;
		position: relative;
		background-color: transparent;

	}

	&__container {
		padding-top: 96px;
		padding-bottom: 96px;
		&_join {
			padding-top: 0;
		}
		&_press {
			padding-top: 0;
		}
	}
	&__block-wrap {
		padding: 12px;
		background-color: white;

	}
	&__block {
		border: 2px solid #222222;
		padding: 71px 108px;
		.main__map & {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__title {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 37px;
		.reservations & {
			margin-bottom: 50px;
		}
	}
	&__title-text {
		.light();
		color: #000000;
		font-size: 68px;
		line-height: 1.24;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-right: 29px;
		white-space: nowrap;
	}
	&__title-line {
		border: 1px solid #222222;
		height: 2px;
		width: 100%;
	}
	&__text-block {
		margin-bottom: 43px;
	}
	&__text-item {
		margin-right: 20px;
		color: #000000;
		font-size: @21;
		.regular();
		line-height: 1.71;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__bottom-block {
		display: flex;
		flex-direction: row-reverse;
	}
	&__bottom-text-block {

	}
	&__bottom-text {
		margin-bottom: 20px;
		color: #000000;
		font-size: @16;
		.regular();
		line-height: 1.5;
	}
	&__bottom-awards {
		padding: 6px 18px;
	}
	&__bottom-awards-img {
		margin-right: auto;
		margin-left: auto;
		.svg-icon(awards, 92px, 108px);
	}
	&__bottom-awards-text {
		color: #980933;
		font-size: @14;
		.regular();
		line-height: 1.71;
		min-width: 122px;
		text-align: center;
	}
	&__press-list {
		display: flex;
	}
	&__press-block {
		display: flex;
		flex-direction: column;
		margin-right: 94px;
	}
	&__press-item {
		margin-bottom: 30px;
		display: block;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__press-img {
		margin-bottom: 17px;

		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		&_big {
			width: 266px;
			height: 360px;
		}
		&_medium {
			width: 166px;
			height: 240px;
		}
		&_small {
			width: 147px;
			height: 240px;
		}
	}
	&__press-title {
		color: #222222;
		font-size: @16;
		.regular();
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-decoration: none;
	}
	&__press-date {
		color: #222222;
		font-size: @16;
		line-height: 1.5;
		.regular();
	}
	&__bottom-text-item {
		display: block;
		&:first-child {
			margin-right: 10%;
		}
	}
	&__barista-title {
		color: #222222;
		font-size: @16;
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	&__barista-text {
		padding: 15px 0;

		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
	&__line {
		width: 100px;
		height: 2px;
		border: 1px solid #222222;
	}
	&__bottom-left {
		max-width: 220px;
		margin-right: 57px;
	}
	&__bottom-right {
	}
	&__reserv {
		margin-bottom: 45px;
	}
	&__book {
		color: #222222;
		font-size: @21;
		line-height: 1.71;
		.regular();
	}
	&__bottom-map {
		display: flex;
	}
	&__bottom-map-block {
		&:first-child {
			margin-right: 146px;
		}
	}
	&__bottom-map-title {
		color: #222222;
		font-size: @16;
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 2px;
		.regular();
	}
	&__bottom-map-text {

	}
	&__bottom-map-text-item {
		width: 214px;
		color: #000000;
		font-size: 16px;
		line-height: 2;
		.regular();
		min-width: 260px;
	}
	&__map-block {
	}
}

@media screen and (max-width: 1350px) {
	.paper {
		&__block {
			&_reserv {
				padding: 71px 64px;
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.paper {
		&__bottom-block {
			display: block;

		}
		&__bottom-awards {
			padding: 0;
			display: flex;
		}
		&__bottom-awards-text {
			width: 120px;
			text-align: left;
		}
		&__bottom-awards-img {
			margin-right: 36px;
			margin-left: 0;
			margin-bottom: 30px;
		}
		&__text-block {
			margin-bottom: 30px;
		}
		&__block {
			padding: 59px 40px 77px 52px;
		}
		&__title-text {
			font-size: 58px;
			letter-spacing: 1px;
		}
	}
}

@media screen and (max-width: 1250px) {
	.paper {
		&__press-block {
			margin-right: 35px;
		}
	}
}

@media screen and (max-width: 750px) {
	.paper {
		&__container {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		&__block-wrap {
			padding: 0;

		}
		&__block {
			border: none;
			padding: 71px 40px;
		}
		&__title-text {
			font-size: 46px;
		}
		&__press-list {
			display: block;
		}
	}
}

@media screen and (max-width: 600px) {
	.paper {
		&__title-line {
			display: none;
		}
		&__container {
			padding-top: 0;
			padding-bottom: 0;
		}
		&__block {
			padding: 30px 20px;
		}
		&__title-text {
			font-size: 24px;
		}
		&__text-item {
			margin-right: 0;
			font-size: @16;
		}
	}
}



