.reserv {

	&__form {

	}
	&__form-block {
		display: flex;
		flex-wrap: wrap;
	}
	&__select-wrap {
		width: 120px;
		height: 48px;
		overflow: hidden;
		background: no-repeat right  #f1f1f1;
		border: 1px solid transparent;
		position: relative;
		&:before {
			position: absolute;
			content: 'Persons ';
			color: #999999;
			font-size: @11;
			.regular();
			line-height: 2.18;
			top: 0;
			left: 10px;
		}
		&:after {
			position: absolute;
			content: '';
			.svg-icon(icon-people, 8px, 8px);
			right: 13px;
			bottom: 14px;
			pointer-events: none;
		}
	}
	&__select {
		width: 140px;
		height: 48px;
		background: transparent;
		padding: 18px 10px 6px;
		font-size: @16;
		border: 0;
		border-radius: 0;
		-webkit-appearance: none;
		color: #222222;
		.regular();
		line-height: 1.5;
		outline: none;
	}
	&__form-block-top {
		display: flex;
	}
	&__form-block-left {
		//display: flex;
	}
	&__form-block-left-one {
		display: flex;
	}
	&__form-block-left-two {
		display: flex;
	}
	&__form-block-right {}
	&__form-block-bottom {}


}

@media screen and (max-width: 1300px) {
	.reserv {
		&__form-block-top {
			display: block;
		}
		&__form-block-left {
			display: flex;
		}
		&__form-block-left-one {
			display: block;
		}
		&__form-block-left-two {
			display: block;
		}
	}
}

@media screen and (max-width: 750px) {
	.reserv {
		&__form-block-top {
			display: block;
		}
		&__form-block-left {
			display: block;
		}
		&__form-block-left-one {
			display: block;
		}
		&__form-block-left-two {
			display: block;
		}
		&__select-wrap {
			width: 280px;
		}
	}
}