.slider {

	&__container {
		position: relative;
	}
	&__item {
		width: 100%;
		height: 700px;
		position: relative;
	}
	&__item-inner {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	&__button-prev {
		position: absolute;
		.svg-icon(icon-arrow, 74px, 38px);
		top: 50%;
		left: 120px;
		z-index: 20;
		transform: rotate(180deg);
	}
	&__button-next {
		position: absolute;
		.svg-icon(icon-arrow, 74px, 38px);
		top: 50%;
		right: 120px;
		z-index: 20;
	}
	&__pagination-wrap {
		position: absolute;
		z-index: 20;
		left: 0;
		bottom: 87px;
		right: 0;
	}
	.swiper-pagination-bullets {
		text-align: center;

		.swiper-pagination-bullet {
			width: 8px;
			height: 8px;
			border: 1px solid #980933;
			background: transparent;
			margin-right: 4px;
			&:last-child {
				margin-right: 0;
			}
			&-active {
				opacity: 1;
				background: #980933;
}
		}
	}
}

@media screen and (max-width: 1100px) {
	.slider {
		&__button-prev {
			left: 64px;
		}
		&__button-next {
			right: 64px;
		}
	}
}

@media screen and (max-width: 700px) {
	.slider {
		&__button-prev {
			left: 20px;
		}
		&__button-next {
			right: 20px;
		}
		&__item {
			height: 500px;
		}
		&__pagination-wrap {
			bottom: 40px;
		}
	}
}

@media screen and (max-width: 500px) {
	.slider {

		&__item {
			height: 250px;
		}
		&__pagination-wrap {
			bottom: 20px;
		}
	}
}
