.title {
	&__container {
		padding-top: 78px;
		padding-bottom: 96px;

		background: url(../img/title_bg.png) no-repeat center center;
		background-size: cover;
	}
	&__background-wrap {
		width: 100%;
		height: 0;
		padding-bottom: 68%;
		position: relative;
	}
	&__date {
		color: #ffffff;
		font-size: @16;
		line-height: 2.25;
		text-transform: uppercase;
		&_day {
			letter-spacing: 2px;
		}
	}
	&__header {
	}
	&__header-text {
		color: #ffffff;
		font-size: @68;
		line-height: 1.24;
		text-transform: uppercase;
		letter-spacing: 2px;
		.light()
	}
	&__main-text-block {
		max-width: 80%;
		margin-bottom: 72px;
	}
	&__main-text {
		color: #ffffff;
		font-size: @21;
		.regular();
		line-height: 1.71;
	}
	&__news-list {
		display: flex;
	}
	&__news-item {
		padding: 13px 4px 29px 18px;
		margin-right: 19px;
		background-color: white;
		max-width: 342px;
		&:nth-child(even) {
			margin-right: 0;
		}
	}
	&__news-date {
		color: #111111;
		.regular();
		font-size: @12;
		line-height: 3;
		text-transform: uppercase;
	}
	&__news-text {
		color: #111111;
		.regular();
		font-size: @12;
		line-height: 3;
		text-transform: uppercase;
		&_day {
			letter-spacing: 1px;
		}
	}
	&__news-title {
		color: #111111;
		.regular();
		font-size: @24;
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		max-width: 70%;
		margin-bottom: 12px;
	}
	&__news-text-block {
		color: #111111;
		font-size: @16;
		line-height: 1.5;
		.regular();
	}
}

@media screen and (max-width: 1100px) {
	.title {
		&__container {
			padding-top: 61px;
			padding-bottom: 84px;
		}
		&__main-text-block {
			margin-bottom: 72px;
			min-width: 100%;
		}
		&__news-item {
			margin-right: 64px;
		}
		&__news-title {
			max-width: 90%;
		}
	}
}

@media screen and (max-width: 700px) {
	.title {
		&__news-list {
			display: block;
		}
		&__news-item {
			padding: 13px 4px 29px 18px;
			margin-right: 0;
			background-color: white;
			max-width: 100%;
			margin-bottom: 48px;
		}
		&__container {
			padding: 37px 20px 1px;
		}
		&__main-text-block {
			margin-bottom: 40px;
		}
		&__header-text {
			font-size: @46;
			letter-spacing: 1px;
		}
	}
}

@media screen and (max-width: 600px) {
	.title {

		&__header {
			margin-bottom: 13px;
		}
		&__header-text {
			font-size: @24;
		}
	}
}